################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SpodIglyMVC/v15/Server/sqlite3
/SpodIglyMVC/.vs/SpodIglyMVC/v15/Server/sqlite3
